.header
  .header-container
    .header-title
      = link_to root_path do
        = icon('fas', 'video', class: 'mypage-icon')
        MovieLovers
    .header-box
      .header-box__search
        = form_with(url: search_movies_path, local: true, method: :get) do |f|
          = f.text_field :keyword,placeholder: "タイトルor監督名で検索",class: "search-form"
          = button_tag type: 'submit', class: "search-box" do
            = icon('fas', 'search')
      .header-box__mypage
        = link_to edit_user_path(current_user) do
          = icon('fas', 'user', class: 'mypage-icon')

.main
  .main-container
    .main-name
      Movie List
    .movies
      - @movies.each do |movie|
        .movie
          = link_to movie_path(movie) do
            = image_tag movie.image.url,class: "movie-image" ,size: "200x250" if movie.image.present?


.post
  = link_to new_movie_path do
    .post__text
      Create-Movie
      = icon('fas', 'film', class: 'icon')

= render "/shared/footer"