= render "/shared/header"

.review-contents
  .review-container
    .review-title
      = "「#{@movie.title}」への新規レビュー"
    .review-image
      = image_tag @movie.image.url, size: "250x300"
    .review-text
      = form_for [@movie, @review] do |f|
        - if @review.errors.any?
          - @review.errors.full_messages.each do |msg|
            %li{style: "color: red;"}
              = msg
        = f.label :レビュー内容, class:'label'
        = f.text_area :body, class:'input'
        = f.submit '更新する', class: 'btn'
      

= render "/shared/footer"